.track {
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
}

.track:first-child {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.track:last-child {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.track:nth-child(2) {
  background-color: red;
}